*.xdc
*.bxml
*.jou
*.log
*.str
*.hdf

!bd/pin_constraints.xdc

bd/**/hdl
bd/**/hw_handoff
bd/**/ip
bd/**/ipshared
bd/**/sim
bd/**/synth
bd/**/ui

.Xil

sdk/.metadata
sdk/RemoteSystemsTempFiles
sdk/webtalk
sdk/hw1
sdk/bsp_freertos10_xilinx1
sdk/**/Debug
sdk/**/Release
sdk/**/bootimage

vivado/*
!vivado/.keep

